//BIG SCREEN DOWN TO TABLET
@include media($max-width: $xxl-container-width){
}

//MEDIUM-BIG SCREEN DOWN TO TABLET
@include media($md-container-width, $xl-container-width){
}

//SMALL DESKTOP
@include media($lg-container-width, $xl-container-width){
}

//TABLET
@include media($O-container-width, $lg-container-width){
  .navbar__menu .navbar__menu-items {
    display: none;
  }
}

//TABLET DOWN
@include media($max-width: $md-container-width){
  .pricing__wrapper .pricing__tiers {
    grid-template-areas: 
      'cloud' 
      'server';
  }

  .push-down-m .makeStyles-root-1 {
    width: 100%;
  }

  .pricing--bg-color {
    display: none;
  }
}