.btn, .btn--big {
	border: none;
	color: $color-white;
	cursor: pointer;
	background-color: $color-secondary;
	border-radius: 0.3em;
	transition: all .4s ease;
}

.btn:hover, .btn--big:hover {
	color: $color-white;
	background-color: $color-secondary-light;
}

.btn:focus, .btn--big:focus {
	box-shadow: none;
	outline: none;
}

.btn {
	padding: 0.55em 0.7em 0.4em 0.8em;
}

.btn--big {
	border: none;
	font-size: 1.2em;
	font-weight: $weight-primary-regular;
	padding: 0.5em 0.8em;
	transition: all .4s ease;
}


.btn--big:hover {
	background-color: $color-secondary-light;
}

.btn__chevron {
	fill: $color-white;
	margin: 0.1em 0.2em 0.3em 0.5em;
	width: 10px;
}