@import "modules/variables";
@import "modules/mixins";
@import "globals/media";
@import "globals/partials/pricing-tiers";
@import "globals/components/buttons";
@import "globals/components/slider";
@import "globals/components/tooltip";
@import "globals/components/navbar";

/* Globals */
*, html {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  color: $color-text;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  color: $color-text;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link {
  color: $light-text;
  font-size: 0.85em;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

h1, h2 {
  font-weight: $weight-primary-medium;
  line-height: $line-height-m;
  margin: 0.25em 0;
  text-align: center;
}

h3 {
  font-size: $size-l;
  font-weight: $weight-primary;
  text-align: center;
}

p {
  margin: 0.6em 0;
}

img {
  width:100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, 
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.flex {  
  align-items: center;
  display: flex;
  height: 100%;
}


/* Hero Titles */
.hero {
  background-color: $light-grey;
  padding: 0 0 5px 0;
}

.hero__titles {
  padding: 8em 0 1em 0;
}


/* BG Wave Divider */
.pricing--bg-color {
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: 922px;
  width: 100%;
}

.pricing--bg-color svg {
  display: block;
  height: 79px;
  position: relative;
  width: calc(123% + 1.3px);
}

.pricing--bg-color .shape-fill {
  fill: $light-grey;
}